
.main_container {
    -fx-background-color: rgba(219, 219, 219, 0.1);
    -fx-text-alignment: center;
    -fx-font-family: cursive;
    -fx-alignment: center;
}

.main_container .dialogShield {
    -fx-background-color: rgba(245, 245, 245, 0.7);
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-padding: 10px;
}